{% spaceless %}
    <table {{ attributes }}>
        {% if caption is not empty %}
            <caption {{ caption.attributes }}>
                {{ caption }}
            </caption>
        {% endif %}
        {% for row in rows %}
            <tr {{ row.attributes }}>
                {% for cell in column %}
                    {% if cell.type !== 'td' or cell.type !== 'th' %}
                        {% set cell.type = 'td' %}
                    {% endif %}
                    {% if cell.type == 'td' %}
                        <td {{ cell.attributes }}>
                            {{ cell ?: '&nbsp;' }}
                        </td>
                    {% elseif (cell.type == 'th') %}
                        <th {{ cell.attributes.merge({ scope: 'column' }) }}>
                            {{ cell ?: '&nbsp;' }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endspaceless %}
